.leaderboard-canvas {
  width: 270px;
  height: 100px;
  padding: 0 !important;
}

.ancestry-canvas {
  width: 800px;
  height: 400px;
  padding: 0 !important;
}

.md-whiteframe-z0 {
  box-shadow: none;
}

.display-none {
  width: 0;
  height: 0;
  opacity: 0;
}
